<header class="[ intro ] [ pad-top-900 pad-bottom-max ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
	<div><h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371 325" style="width: 11em;">
	  <defs/>
	  <g fill="none" fill-rule="evenodd">
	    <path stroke="var(--color-theme-primary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="9" d="M64.82 308.54V157.01H5.13L185.52 5.43 186 5l180.39 151.58H306.7v151.53"/>
	    <path stroke="var(--color-theme-primary)" stroke-linejoin="round" stroke-width="9" d="M264.96 70.68V32.57h37.87v67.87"/>
	    <g transform="translate(99 276.5)">
	      <g fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width="2">
	        <g transform="translate(108.08 9.2)">
	          <rect width="6.5" height="4.43" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="9.75" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="19.49" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="29.24" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="38.98" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="48.73" rx="2.22"/>
	        </g>
	        <g transform="translate(108.08 23.52)">
	          <rect width="6.5" height="4.43" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="9.75" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="19.49" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="29.24" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="38.98" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="48.73" rx="2.22"/>
	        </g>
	        <g transform="translate(103.02 16.02)">
	          <rect width="6.5" height="4.43" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="9.74" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="19.49" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="29.23" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="38.97" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="48.72" rx="2.22"/>
	          <rect width="6.5" height="4.43" x="58.46" rx="2.22"/>
	        </g>
	      </g>
	      <rect width="25.3" height="5.45" x="65.06" y="15.68" fill="var(--logo-color)" rx="2.5"/>
	      <rect width="25.3" height="5.45" x="36.15" y="15.68" fill="var(--logo-color)" rx="2.5"/>
	      <rect width="173.5" height="37.5" stroke="var(--color-theme-primary)" stroke-width="4" rx="10" transform="matrix(-1 0 0 1 173.5 0)"/>
	    </g>
	    <g transform="translate(99 230)">
	      <ellipse cx="152.17" cy="30.34" fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width=".5" rx="3.98" ry="3.75"/>
	      <ellipse cx="152.17" cy="14.66" fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width=".5" rx="9.04" ry="8.52"/>
	      <rect width="25.3" height="5.45" x="7.95" y="6.14" fill="var(--color-theme-primary)" rx="2.5" transform="matrix(-1 0 0 1 41.2 0)"/>
	      <rect width="25.3" height="5.45" x="7.95" y="15" fill="var(--color-theme-primary)" rx="2.5" transform="matrix(-1 0 0 1 41.2 0)"/>
	      <rect width="14.46" height="5.45" x="105.55" y="23.86" fill="var(--color-theme-primary)" rx="2.5" transform="matrix(-1 0 0 1 225.55 0)"/>
	      <rect width="90.36" height="5.45" x="7.95" y="23.86" fill="var(--logo-color)" rx="2.5" transform="matrix(-1 0 0 1 106.27 0)"/>
	      <rect width="173.5" height="37.5" stroke="var(--color-theme-primary)" stroke-width="4" rx="10" transform="matrix(-1 0 0 1 173.5 0)"/>
	    </g>
	    <g stroke="var(--color-theme-primary)" transform="translate(99 183.5)">
	      <g fill="var(--color-theme-primary)" stroke-width="2">
	        <g transform="translate(10.84 7.5)">
	          <rect width="7.77" height="5.45" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="11.66" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="23.31" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="34.97" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="46.63" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="58.29" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="69.94" rx="2.73"/>
	        </g>
	        <g transform="translate(10.84 24.55)">
	          <rect width="7.77" height="5.45" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="11.66" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="23.31" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="34.97" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="46.63" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="58.29" rx="2.73"/>
	          <rect width="7.77" height="5.45" x="69.94" rx="2.73"/>
	        </g>
	        <g transform="translate(4.7 15.68)">
	          <rect width="7.79" height="5.45" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="11.69" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="23.38" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="35.08" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="46.77" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="58.46" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="70.15" rx="2.73"/>
	          <rect width="7.79" height="5.45" x="81.85" rx="2.73"/>
	        </g>
	      </g>
	      <rect width="173.5" height="37.5" stroke-width="4" rx="10"/>
	    </g>
	    <g transform="translate(99 137)">
	      <rect width="173.5" height="37.5" stroke="var(--color-theme-primary)" stroke-width="4" rx="10"/>
	      <ellipse cx="18.8" cy="18.75" fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width=".5" rx="3.98" ry="3.75"/>
	      <ellipse cx="30" cy="18.75" fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width=".5" rx="3.98" ry="3.75"/>
	      <ellipse cx="46.27" cy="18.75" fill="var(--color-theme-primary)" stroke="var(--color-theme-primary)" stroke-width=".5" rx="9.04" ry="8.52"/>
	      <rect width="25.3" height="5.45" x="139.52" y="7.5" fill="var(--logo-color)" rx="2.5"/>
	      <rect width="25.3" height="5.45" x="139.52" y="16.36" fill="var(--logo-color)" rx="2.5"/>
	      <rect width="14.46" height="5.45" x="96.15" y="25.23" fill="var(--logo-color)" rx="2.5"/>
	      <rect width="50.6" height="5.45" x="114.22" y="25.23" fill="var(--logo-color)" rx="2.5"/>
	    </g>
	    <g stroke="var(--color-theme-primary)">
	      <path fill="var(--color-theme-primary)" stroke-width=".5" d="M112.5 174.5h19.51v8.37H112.5zM112.5 221.21h19.51v8.37H112.5zM241.13 221.21h19.51v8.37h-19.51zM241.13 267.92h19.51v8.37h-19.51zM112.5 267.92h19.51v8.37H112.5zM176.81 314.63h19.51V323h-19.51zM241.13 174.5h19.51v8.37h-19.51z"/>
	      <path stroke-linecap="square" stroke-width="3" d="M114.49 322.83h146.33"/>
	    </g>
	  </g>
	</svg>
  </div>
</header>
