<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ]">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
    </div>
    <a class="footer-logo" href="/">{% include "icons/footer-logo.svg" %}</a>
  </div>
  {% set ariaLabel = 'footer navigation' %}
  <nav class="nav-footer" aria-label="{{ariaLabel}}">
    <ul class="[ nav__list ] [ box-flex align-center md:space-before ]">  
        <li class="nav__item">
          Powered by <a href="https://hylia.website" rel="external">Hylia/Eleventy</a>
        </li>
        <li class="nav__item">
          <a href="/archive">Archive</a>
        </li>
        <li class="nav__item">
          <a href="/feed.xml">RSS</a>
        </li>
    </ul>
  </nav>
</footer>
